.mainheader
{
    background-color: black;
    height: 90px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}
.mainheader img
{
    height: 89px;
    width: 160px;
    border-radius: 60px 10px 60px 10px;
    padding-left: 20px;
}
.log
{
    width: 400px;
}
.options
{
    width: 400px;
}

.searchbar
{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input
    {
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .options
    {
        display: flex;
    }
    .btnouter
    {
        padding-left: 320px;
        padding-top: 20px;
        
    }
    .modechane
    {
        border-radius: 50px;
    }
    .search
    {
        color: #0000;
        background-color: wheat;
    }
