<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="mainheader">
        <div class="log">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlkn12qHPVIbTV5Oc-cU7DU-SNseJpkFJ5tA&usqp=CAU"
            alt=""
          />
        </div>

        <div class="searchbar">
          <input
            class="search_input"
            type="text"
            name=""
            placeholder="Search..."
            #output
          />
          <button class="search_icon search" (click)="updateDataEvent.emit(output.value)">
            <i class="fas fa-search text-secondary"></i>
          </button>
          
        </div>

        <div class="options">
            <div class="btnouter">
            <!-- <button class="btn btn-dark modechane" (click)="colourchanging()">neeraj</button> -->

        </div>
        </div>
      </div>
    </header>
  </body>
</html>
