body
{
    border-radius: 20px;
}
.mainbody
{
    height: 200px;
    background-color: rgb(145, 145, 243);
    display: flex;
    border-radius: 20px 20px 0px 0px;
}
.childheader
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.childcalculation
{

    width: 580px;
    display: flex;
    justify-content: center;
}
.ngmodleinput
{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    font-weight: bolder;
    padding-left: 40px;
}
.outputtotal
{
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}
.fromparentcontent
{
    color: red;
}