body
{
    height: 100vh;
}

.offers
{
    padding: 20px;
    text-shadow: 6px 7px 9px;
    text-align: center;
}
.offers h3
{
    transition: transform .4s;
}
.offers h3:hover
{
    color: rgb(54, 40, 19);
}

.mainheaders
{
    font-weight: 1000;
    text-size-adjust: 40px;
}
