<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="mainbody"  id="upper">

      <div class="innerbody container-fluid">

        <div class="img">
          <a href=""
            ><img
              src="https://lh3.googleusercontent.com/1OZGIs_orzxdKlNSh4xcCLIPU69MHBpGv5oYNR0YgTOlkeVf2HQoQQSQqgGwH2mJwCLABI3kEbbTG7M42rnOt1SYckMejdYZH1esG3Q"
              alt=""
              srcset=""
            />
          </a>
        </div>

        <div class="options d-flex g-4">
          <ul class="nav navbar-brand">
            <li class="nav-item">
              <a href="#" class="nav-link "
                >About</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"
                >Iteams</a
              >
            </li>
          </ul>
          <div class="imagefororder">
            <img class="position-relative" src="https://png.pngtree.com/png-clipart/20220823/original/pngtree-cooking-logo-png-image_8466882.png" alt="">
            <a href="#"><span class="text-warning text-decoration-none position-absolute top-0">0</span></a>
          </div>
        </div>


      </div>
    </div>
  </body>
</html>
