<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="mainbody"  id="upper">
      <div class="innerbody container-fluid">
        <div class="img">
          <a href=""
            ><img
              src="https://lh3.googleusercontent.com/1OZGIs_orzxdKlNSh4xcCLIPU69MHBpGv5oYNR0YgTOlkeVf2HQoQQSQqgGwH2mJwCLABI3kEbbTG7M42rnOt1SYckMejdYZH1esG3Q"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="options">
          <ul class="nav navbar-brand">
            <li class="nav-item">
              <a href="#" class="nav-link "
                >About</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"
                >Iteams</a
              >
            </li>
          </ul>
        </div>

      </div>
    </div>
  </body>
</html>
