<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="site-footer">
      <div class="innermain container">
        <div class="firstline">
          <span class="cretedukan"
            >Create your <a href="#">free online dukaan</a></span
          >

          <div class="images">
            <span class="media-icon"
              ><a href="#"
                ><img
                  src="https://static.magicpin.com/samara/static/images/facebook-v1.svg"
                  alt="facebook-v1" /></a
            ></span>
            <span class="media-icon"
              ><a href="#"
                ><img
                  src="https://static.magicpin.com/samara/static/images/instagram-v1.svg"
                  alt="instagram-v1" /></a
            ></span>
            <span class="media-icon"
              ><a href="#"
                ><img
                  src="https://static.magicpin.com/samara/static/images/linkedin-v1.svg"
                  alt="linkedin-v1" /></a
            ></span>
            <span class="media-icon"
              ><a href="#"
                ><img
                  src="https://static.magicpin.com/samara/static/images/twitter-v1.svg"
                  alt="twitter-v1" /></a
            ></span>
          </div>
        </div>

        <div class="addrass">
          <pre class="text-white p-md-5">
Name of the Company: SAMAST TECHNOLOGIES PRIVATE LIMITED
    
CIN: U74140HR2015PTC073829
    
Registered Office Address: Plot No.379 & 380, Sector - 29, Near IFFCO Chowk Metro Station, Gurugram, Haryana-122001, India
</pre
          >
        </div>



        <div class="appstrore d-flex justify-content-center align-content-center">

            <span><a href="#"><img src="https://lh3.googleusercontent.com/YyaeqBo4yVfRGzofbuv6pGFYz45PFC7YOkmsLc1pPkspT1o4sJwDXL18AhehxyAc5rPhow6U2qFa-KzsAB4Zo7aLJ_mZ9T1BIZqDiAk=w120-rw" alt=""></a></span>

            <span><a href="#"><img src="https://lh3.googleusercontent.com/6r3772qJJ6zmuIaM6QvHCk3RbAh8mbmvjbjqSr0jf1MjeVKv4Xks8hJk9IiplfcUgdOZWVfUzW67w03ulTlXV7P0cS6zpRcQx2ODy98rKQ=w120-rw" alt=""></a></span>

            <span><a href="#"><img src="https://lh3.googleusercontent.com/G5sgw1_EgAJjG3guS7_4LTjLKw3TquGtn9HVafvYBFJT7xgyG5CBWcpCHuCt6_lyXMWFsvBZoXw_9I3RkJT2MsgPJqqCLpTF-6p-lsg=w120-rw" alt=""></a></span>

        </div>

        <div class="backtotop position-absolute end-0 btn btn-secondary border-primary d-flex justify-content-center align-content-center rounded-circle btn-outline-danger">
        <span><a href="#upper"><img src="https://static.magicpin.com/samara/static/images/scroll-top.svg" alt=""></a></span>
        </div>

      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
