body
{
    border-radius: 20px;

}
.counter
{
    height: 73vh;
    width: 108.5vh;
    text-align: center;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #f3c1f3;     */
    background-image: url(https://images.pexels.com/photos/39574/flower-exotic-colorful-pink-39574.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: 750px;
}
h1
{
    padding-bottom: 40px;
}
.innercounter
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vh;
    height: 50vh;
    
}
.clicks-type
{
    
    height: 50px;
    width: 250px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.clicks
{

    border: 1px solid;
    width: 60px;
    height: 40px;
    background-color: azure;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 9px;
}

.types
{
    border: 1px solid;
    width: 60px;
    height: 40px;
    background-color: azure;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 9px;
    
}

.typechangeodd
{
    border: 1px solid;
    width: 60px;
    height: 40px;
    background-color: azure;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 9px;
    color: rgb(0, 216, 72);
}

.totalouter
{
    
    height: 50px;
    width: 250px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    
}
.totalinner
{
    border: 1px solid;
    width: 60px;
    height: 40px;
    background-color: azure;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 10px;
}

.buttuns
{
    
    padding-top: 55px;

}
button
{

    border-radius: 50%;

}

button:disabled
{
    background-color: red;
    color: white;
}

.typetitle
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 300px;
}
.typetitle{
    color: white;
    font-weight: bolder;

}